<!Doctype HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="C:\Users\ashwi\Project\GitExcercise\static\css\homepage.css">
    <link rel="icon" href="type" type="image/icon type">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the QuickRide Ticketing System</h1>
        <a href="{{ url_for('views.book_ticket') }}" class="btn btn-primary">Book a Ticket</a>
        <a href="{{ url_for('views.ticket_history') }}" class="btn btn-secondary">View Booking History</a>
    </div>
</body>
</html>
