<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h2>Your Ticket</h2>
    <div class="ticket">
        <h3>Ticket Confirmed</h3>
        <p>Seat Number: {{ seat }}</p>
        <p>Coach Number: {{ coach }}</p>
        <p>Destination: City A to City B</p>
        <p>Date: 20th Sept 2024</p>
    </div>
    <p class="snap-ticket">TAKE A SNAP OF YOUR TICKET</p>

</body>
</html>