<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h2>Your Ticket</h2>
    <div class="ticket">
        <h3>Your Ticket</h3>
        <p>Seat: {{ seat }}</p>
        <p>Coach: {{ coach }}</p>
        <p>Origin: {{ origin }}</p>
        <p>Destination: {{ destination }}</p>
        <p>Departure Time: {{ departure_time }}</p>
    </div>
    <p>TAKE A SNAP OF YOUR TICKET</p>

</body>
</html>